{% extends "/base.html.twig" %}

{% block title %}Listes Des autours{% endblock %}

{% block main %}
    <section>
        {% for author in authors  %}
            <article>
                <h2><a href="{{ path('admin_author', {'id' : author.id}) }}">{{ author.firtName}}</a></h2>
                <h3>{{ author.lastName }}</h3>
                {% if (author.deathDate is not null) %}
                    <h3>{{ author.deathDate|date("m/d/Y") }}</h3>
                {% endif %}
            </article>
        {% endfor %}
    </section>

{% endblock %}