{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    <section>
        <article>
            {# je utilise la fonction Twig form() pour creer et afficher le formulaire  #}

            {{ form(form) }}
        </article>
    </section>
{% endblock %}

