<footer class="footer">
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{ path('admin_livres') }}">Livres</a></li>
            <li><a href="{{ path('authors') }}">Auteurs</a></li>
            <li><a href="{{ path('contact') }}">Contact</a></li>
        </ul>
    </nav>
</footer>

</body>

</html>