<footer class="footer">
    <nav>
        <ul>
            <li><a href="{{ path("home") }}">Home</a></li>
            <li><a href="">Livres</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</footer>

</body>

</html>