<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="boby">

<header class="header">
    <div class="div-icon">
        <img class="icon" src="https://findicons.com/files/icons/738/colorabo/256/library.png">
    </div>
    <nav>
        <ul>
            <li><a href="{{ path("home") }}">Home</a></li>
            <li><a href="">Livres</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</header>

<main class="main">
    {% block main %}{% endblock %}
</main>

{% include "_footer.html.twig" %}
