{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    <section>
        <article>
            <h2>Félicitation votre livre à été modifié</h2>
        </article>
    </section>
{% endblock %}

